<div class="ct_inner_header_bg ct_mt_30 ct_px_30 ct_d_align_center justify-content-between gap-3  mb-4">
    <div class="d-flex align-items-center justify-content-between gap-3">
        <h4 class="ct_fs_35 mb-0 ct_ff_Matter_Medium d-flex align-items-center gap-2"><a (click)="backClicked()"
                class="ct_back_icon me-1"><i class="fa-solid fa-chevron-left"></i></a>Team Member Details</h4>
    </div>
</div>
<div class=" ct_mt_30 ct_px_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_team_detail_white">
                    <div class="d-flex align-items-center gap-3 ct_flex_col_575">
                        <img [src]="allMembers.profile_images ? allMembers.profile_images : '/img/no_pro.png'" class="ct_img_w_88" />
                        <div>
                            <h5 class="ct_fs_24 ct_ff_Matter_SemiBold">{{allMembers.name}}</h5>
                            <ul>
                                <li>Team Member</li>
                                <li>{{allMembers.Designation}}</li>
                                <li>{{allMembers.email}}</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="ct_team_detail_white ct_mt_30">
                    <h4 class="ct_fs_26 ct_ff_Matter_SemiBold ct_mb_20">Tasks Assigned</h4>
                    <div class=" table-responsive">
                        <table class="table ct_custom_table_2">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Task Title</th>
                                    <th>Team</th>
                                    <th>Priority</th>
                                    <th>Phase</th>
                                    <th>Due Date</th>
                                    <th>Created By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        <span class="ct_overlay_text d-inline-block">Homepage Revamp</span>
                                    </td>
                                    <td>UI UX Team</td>
                                    <td>
                                        <span class="ct_custom_badge px-3 ct_ff_Matter_SemiBold"
                                            style="background-color: #FEF2F2; color: #EF4444;">P1</span>
                                    </td>
                                    <td>Design Review</td>
                                    <td>12 Jul 25</td>
                                    <td>
                                        <div class="d-flex align-items-center  gap-2">
                                            <img src="/img/user_4.png" class="ct_img_w_24">
                                            <p class="mb-0 ct_fs_16 ct_text_374151">Sarah</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>
                                        <span class="ct_overlay_text d-inline-block">Homepage Revamp</span>
                                    </td>
                                    <td>UI UX Team</td>
                                    <td>
                                        <span class="ct_custom_badge px-3 ct_ff_Matter_SemiBold"
                                            style="background-color: #EFF6FF; color: #3B82F6;">P2</span>
                                    </td>
                                    <td>Design Review</td>
                                    <td>12 Jul 25</td>
                                    <td>
                                        <div class="d-flex align-items-center  gap-2">
                                            <img src="/img/user_4.png" class="ct_img_w_24">
                                            <p class="mb-0 ct_fs_16 ct_text_374151">Sarah</p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>
                                        <span class="ct_overlay_text d-inline-block">Homepage Revamp</span>
                                    </td>
                                    <td>UI UX Team</td>
                                    <td>
                                        <span class="ct_custom_badge px-3 ct_ff_Matter_SemiBold"
                                            style="background-color: #F9FAFB; color: #6B7280;">P4</span>
                                    </td>
                                    <td>Design Review</td>
                                    <td>12 Jul 25</td>
                                    <td>
                                        <div class="d-flex align-items-center  gap-2">
                                            <img src="/img/user_4.png" class="ct_img_w_24">
                                            <p class="mb-0 ct_fs_16 ct_text_374151">Sarah</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>