<div class="ct_inner_header_bg ct_mt_30 ct_px_30 ct_d_align_center justify-content-between gap-3  mb-4">
    <div class="d-flex align-items-center justify-content-between gap-3">
        <h4 class="ct_fs_35 mb-0 ct_ff_Matter_Medium d-flex align-items-center gap-2"><a (click)="backClicked()"
                class="ct_back_icon me-1"><i class="fa-solid fa-chevron-left"></i></a>Manage permissions</h4>
    </div>
</div>

<div class=" ct_mt_30 ct_px_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table ct_custom_table">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Permission</th>

                                <!-- Select All -->
                                <th>
                                    <div class="d-flex gap-2 align-items-center">
                                        <label class="toggle-switch">
                                            <input type="checkbox" [(ngModel)]="checkAllView"
                                                (change)="toggleAllCheckboxes()" />
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                        All
                                    </div>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let pic of data; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ pic.title }}</td>

                                <!-- Row checkbox -->
                                <td>
                                    <label class="toggle-switch">
                                        <input type="checkbox" [(ngModel)]="pic.checkedView"
                                            (change)="updateColumnCheckAll()" />
                                        <div class="toggle-switch-background">
                                            <div class="toggle-switch-handle"></div>
                                        </div>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <button class="btn btn-primary mt-3" (click)="logSelectedModules()">
                        Submit
                    </button> -->

                </div>
            </div>
        </div>
    </div>
</div>