<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table ct_custom_table">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Permission</th>
                        <th>Team Manager</th>
                        <th>Team Member</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>View all tasks</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Create tasks</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Edit tasks</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Delete tasks</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Assign Tasks To Members</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Task- Mark as complete</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Create Boards</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Edit Boards</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Delete Boards</td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                        <td>
                            <label class="toggle-switch">
                                <input type="checkbox" />
                                <div class="toggle-switch-background">
                                    <div class="toggle-switch-handle"></div>
                                </div>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>