.ct_icon_30 {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-radius: 5px;

}

.ct_remove_btn_red {
    background-color: #ff0000 !important;
    box-shadow: 0px 6.73px 8.65px 0px #FFFFFF52 inset, 0px -4.81px 3.85px 0px hsl(0deg 100% 50% / 25%) inset;
}

.ct_member_count_no {
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    font-size: 12px;
    font-weight: 600;
}