<div class="ct_inner_header_bg ct_mt_30 ct_px_30 ct_d_align_center justify-content-between gap-3 mb-4">
    <div class="d-flex align-items-center justify-content-between gap-3">
        <h4 class="ct_fs_35 mb-0 ct_ff_Matter_Medium d-flex align-items-center gap-2">
            <a class="ct_back_icon me-1" (click)="backClicked()"><i class="fa-solid fa-chevron-left"></i></a>Website
            Redesign Board
        </h4>
    </div>
</div>
<div class="ct_mt_30 ct_px_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-items-center gap-3 justify-content-between ct_flex_col_767">
                    <div class="ct_search_box_bg ct_flex_1 ct_w_100_767 ct_flex_col_575">
                        <div class="form-group ct_search_input position-relative ct_flex_1 ct_w_100_575">
                            <input type="text" class="form-control ct_input ct_input_ps_50 ct_h_48"
                                placeholder="Search tasks ..">
                            <img src="/img/search_icon.svg" class="ct_input_icon_left">
                        </div>
                        <div class="ct_w_100_575">
                            <select class="form-control ct_input ct_grey_select ct_w_100_575">
                                <option value="">All</option>
                            </select>
                        </div>
                        <div class="ct_w_100_575">
                            <select class="form-control ct_input ct_grey_select ct_w_100_575">
                                <option value="">All</option>
                            </select>
                        </div>
                    </div>
                    <div class="ct_w_100_767">
                        <button class="ct_purple_btn ct_h_60 ct_w_100_767" data-bs-target="#ct_add_create_modal"
                            data-bs-toggle="modal">
                            <img src="/img/plus-circle.svg" alt="" class="me-2">Create Task
                        </button>
                    </div>
                </div>

                <div class="row ct_mt_20">
                    <div class="col-xl-4 col-lg-6 mb-4">
                        <div class="ct_task_design_card">
                            <div class="ct_task_design_header" style="border-color: #0066CCB2;">
                                <h4 class="mb-0 ct_fs_22 ct_ff_Matter_Medium">Design Review</h4>
                                <div class="ct_icon_32_grey ct_ff_Matter_SemiBold">
                                    2
                                </div>
                            </div>
                        </div>
                        <div class="ct_task_design_body ct_custom_scroll">
                            <a href="task-detail.html" class="ct_task_design_inner_card">
                                <div class="d-flex align-items-start gap-3">
                                    <img src="/img/ic_round-label-important.svg" alt="" class="mt-1">
                                    <div class="ct_flex_1">
                                        <div class="ct_d_align_center gap-2 justify-content-between mb-2">
                                            <h6 class="ct_fs_16 ct_ff_Matter_Medium mb-0">Design new landing page</h6>
                                            <span class="ct_custom_badge ct_white_nowrap px-3 ct_ff_Matter_SemiBold"
                                                style="background-color: #FEF2F2; color: #EF4444;">P1</span>
                                        </div>
                                        <p class="ct_para_scroll ct_custom_scroll ct_fs_12 mb-0 ct_text_clr_636E72">
                                            Dashboard UI design is a visually engaging and intuitively structured
                                            interface tailored to streamline project management</p>
                                        <div class="d-flex align-items-center justify-content-between gap-2 mt-2">
                                            <p class="mb-0 ct_text_787885 ct_fs_14">Created on: </p>
                                            <p class="mb-0 ct_ff_Matter_Medium ct_fs_14 ">14 Nov, 2025 </p>

                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="task-detail.html" class="ct_task_design_inner_card">
                                <div class="d-flex align-items-start gap-3">
                                    <img src="/img/ic_round-label-important.svg" alt="" class="mt-1">
                                    <div class="ct_flex_1">
                                        <div class="ct_d_align_center gap-2 justify-content-between mb-2">
                                            <h6 class="ct_fs_16 ct_ff_Matter_Medium mb-0">User interview preparation
                                            </h6>
                                            <span class="ct_custom_badge ct_white_nowrap px-3 ct_ff_Matter_SemiBold"
                                                style="background-color: #FEFCE8; color: #EAB308;">P3</span>
                                        </div>
                                        <p class="ct_para_scroll ct_custom_scroll ct_fs_12 mb-0 ct_text_clr_636E72">
                                            Dashboard UI design is a visually engaging and intuitively structured
                                            interface tailored to streamline project management</p>
                                        <div class="d-flex align-items-center justify-content-between gap-2 mt-2">
                                            <p class="mb-0 ct_text_787885 ct_fs_14">Created on: </p>
                                            <p class="mb-0 ct_ff_Matter_Medium ct_fs_14 ">14 Nov, 2025 </p>

                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-6 mb-4">
                        <div class="ct_task_design_card">
                            <div class="ct_task_design_header" style="border-color: #FFA726B2;">
                                <h4 class="mb-0 ct_fs_22 ct_ff_Matter_Medium">Development</h4>
                                <div class="ct_icon_32_grey ct_ff_Matter_SemiBold">
                                    2
                                </div>
                            </div>
                        </div>
                        <div class="ct_task_design_body ct_custom_scroll" style="background-color: #FFFBD124;">
                            <a href="task-detail.html" class="ct_task_design_inner_card">
                                <div class="d-flex align-items-start gap-3">
                                    <img src="/img/ic_round-label-important.svg" alt="" class="mt-1">
                                    <div class="ct_flex_1">
                                        <div class="ct_d_align_center gap-2 justify-content-between mb-2">
                                            <h6 class="ct_fs_16 ct_ff_Matter_Medium mb-0">Product tour implementation
                                            </h6>
                                            <span class="ct_custom_badge ct_white_nowrap px-3 ct_ff_Matter_SemiBold"
                                                style="background-color: #F9FAFB; color: #6B7280;">P4</span>
                                        </div>
                                        <p class="ct_para_scroll ct_custom_scroll ct_fs_12 mb-0 ct_text_clr_636E72">
                                            Dashboard UI design is a visually engaging and intuitively structured
                                            interface tailored to streamline project management</p>
                                        <div class="d-flex align-items-center justify-content-between gap-2 mt-2">
                                            <p class="mb-0 ct_text_787885 ct_fs_14">Created on: </p>
                                            <p class="mb-0 ct_ff_Matter_Medium ct_fs_14 ">14 Nov, 2025 </p>

                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="task-detail.html" class="ct_task_design_inner_card">
                                <div class="d-flex align-items-start gap-3">
                                    <img src="/img/ic_round-label-important.svg" alt="" class="mt-1">
                                    <div class="ct_flex_1">
                                        <div class="ct_d_align_center gap-2 justify-content-between mb-2">
                                            <h6 class="ct_fs_16 ct_ff_Matter_Medium mb-0">Design system updates</h6>
                                            <span class="ct_custom_badge ct_white_nowrap px-3 ct_ff_Matter_SemiBold"
                                                style="background-color: #EFF6FF; color: #3B82F6;">P2</span>
                                        </div>
                                        <p class="ct_para_scroll ct_custom_scroll ct_fs_12 mb-0 ct_text_clr_636E72">
                                            Dashboard UI design is a visually engaging and intuitively structured
                                            interface tailored to streamline project management</p>
                                        <div class="d-flex align-items-center justify-content-between gap-2 mt-2">
                                            <p class="mb-0 ct_text_787885 ct_fs_14">Created on: </p>
                                            <p class="mb-0 ct_ff_Matter_Medium ct_fs_14 ">14 Nov, 2025 </p>

                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>

                    </div>
                    <div class="col-xl-4 col-lg-6 mb-4">
                        <div class="ct_task_design_card">
                            <div class="ct_task_design_header" style="border-color: #00B894B2;">
                                <h4 class="mb-0 ct_fs_22 ct_ff_Matter_Medium">QA Testing</h4>
                                <div class="ct_icon_32_grey ct_ff_Matter_SemiBold">
                                    2
                                </div>
                            </div>
                        </div>
                        <div class="ct_task_design_body ct_custom_scroll" style="background-color: #DBFFD124;">
                            <a href="task-detail.html" class="ct_task_design_inner_card">
                                <div class="d-flex align-items-start gap-3">
                                    <img src="/img/ic_round-label-important.svg" alt="" class="mt-1">
                                    <div class="ct_flex_1">
                                        <div class="ct_d_align_center gap-2 justify-content-between mb-2">
                                            <h6 class="ct_fs_16 ct_ff_Matter_Medium mb-0">Color palette selection</h6>
                                            <span class="ct_custom_badge ct_white_nowrap px-3 ct_ff_Matter_SemiBold"
                                                style="background-color: #FEFCE8; color: #EAB308;">P3</span>
                                        </div>
                                        <p class="ct_para_scroll ct_custom_scroll ct_fs_12 mb-0 ct_text_clr_636E72">
                                            Dashboard UI design is a visually engaging and intuitively structured
                                            interface tailored to streamline project management</p>
                                        <div class="d-flex align-items-center justify-content-between gap-2 mt-2">
                                            <p class="mb-0 ct_text_787885 ct_fs_14">Created on: </p>
                                            <p class="mb-0 ct_ff_Matter_Medium ct_fs_14 ">14 Nov, 2025 </p>

                                        </div>
                                    </div>
                                </div>
                            </a>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add user  board Modal S -->
<div class="modal fade ct_custom_modal modal-lg" id="ct_add_create_modal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
                <div class="d-flex align-items-center gap-2">
                    <img src="/img/modal_star.png" alt="" class="ct_flex_shrink_0" />
                    <div>
                        <h1 class="modal-title ct_fs_20 ct_ff_Matter_SemiBold mb-0" id="exampleModalLabel">
                            Create New Task
                        </h1>
                        <p class="mb-0 ct_fs_14 ct_text_clr_4B5563 ct_text_op_08">
                            Add a new task to your board and start tracking progress
                        </p>
                    </div>
                </div>
                <button type="button" class="btn-close ct_close_modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body p-0 ct_mt_20">
                <form action="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Task Title </label>
                                <input type="text" class="form-control ct_input" placeholder="Enter task title" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Description </label>
                                <textarea class="form-control ct_input h-auto" rows="2"
                                    placeholder="Enter Description"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Select Board</label>
                                <select class="form-control ct_input">
                                    <option value="">Website Redesign Board</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Estimated Hours</label>
                                <input type="text" class="form-control ct_input" placeholder="Enter task title" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Assign Member</label>
                                <select class="form-control ct_input">
                                    <option value="">Select Member</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Priority</label>
                                <select class="form-control ct_input">
                                    <option value="">Medium Priority</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Phase</label>
                            <div class="form-group ct_mb_22">
                                <select class="form-control ct_input">
                                    <option value="">Design Review</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Start Date</label>
                                <input type="date" class="form-control ct_input" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group ct_mb_22">
                                <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Due Date</label>
                                <input type="date" class="form-control ct_input" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="ct_para_scroll ct_custom_scroll">
                                <div class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg">
                                    <div class="ct_d_align_center gap-3">
                                        <img src="/img/lucide_lock.svg" alt="" class=" ct_flex_shrink_0">
                                        <div>
                                            <h5 class="ct_fs_16 mb-1 ct_ff_Matter_Medium text-truncate"
                                                style="max-width: 100px">
                                                Private Task
                                            </h5>
                                            <p class="ct_fs_14 ct_text_787885 mb-0 text-truncate"
                                                style="max-width: 120px">
                                                Only visible to you
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <label class="toggle-switch">
                                            <input type="checkbox">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div
                                    class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg ct_mt_15">
                                    <div class="ct_d_align_center gap-3">
                                        <img src="/img/octicon_goal-24.svg" alt="" class=" ct_flex_shrink_0">
                                        <div>
                                            <h5 class="ct_fs_16 mb-1 ct_ff_Matter_Medium text-truncate"
                                                style="max-width: 150px">
                                                Goal Relevant
                                            </h5>
                                            <p class="ct_fs_14 ct_text_787885 mb-0 text-truncate"
                                                style="max-width: 120px">
                                                Related to goal
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <label class="toggle-switch">
                                            <input type="checkbox">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div
                                    class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg ct_mt_15">
                                    <div class="ct_d_align_center gap-3">
                                        <img src="/img/akar-icons_circle-alert.svg" alt=""
                                            class=" ct_flex_shrink_0">
                                        <div>
                                            <h5 class="ct_fs_16 mb-1 ct_ff_Matter_Medium text-truncate"
                                                style="max-width: 100px">
                                                Mark as Urgent
                                            </h5>
                                            <p class="ct_fs_14 ct_text_787885 mb-0 text-truncate"
                                                style="max-width: 120px">
                                                Requires immediate attention
                                            </p>
                                        </div>
                                    </div>
                                    <div class="ms-auto">
                                        <label class="toggle-switch">
                                            <input type="checkbox">
                                            <div class="toggle-switch-background">
                                                <div class="toggle-switch-handle"></div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer border-0 p-0 ct_mt_44">
                    <button type="button" class="ct_outline_btn ct_ff_Matter_Medium" data-bs-dismiss="modal">
                        Cancel
                    </button>
                    <button type="button" class="ct_purple_btn ct_ff_Matter_Medium">
                        Create Task
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Add user Modal E -->