/* Login page css S */
.ct_login_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.ct_login_left_content {
  display: grid;
  background-color: var(--purple);
  padding: 50px 73px 0px;
  border-top-right-radius: 183px;
}

.ct_login_bottom_img {
  text-align: center;
}

.ct_login_bottom_img img {
  width: 100%;
  max-width: 342px;
  margin-inline: auto;
}

.ct_login_logo img {
  width: 100%;
  max-width: 141px;
  object-fit: contain;
}

.ct_select_role_icon {
  background-color: var(--light_purple);
}

.ct_select_role_card {
  padding: 17px 22px;
  border-radius: 17px;
  border: 1px solid #888D9754;
  transition: 0.4s ease all;
}

.ct_select_role_card.active {
  border: 1px solid var(--purple);

}

.ct_login_right_content {
  padding-left: 90px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}

.ct_2d_purple_btn {
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-shadow: 0px 6.41px 8.25px 0px #FFFFFF52 inset, 0px -4.58px 3.67px 0px #0D002840 inset;
  background-color: var(--purple);
  border: 1px solid currentColor;
  outline: none;
  padding: 20px;
  border-radius: 12px;
  color: #fff;


}

.ct_select_role_main_div,
.ct_login_scroll {
  height: auto;
  max-height: calc(100vh - 230px);
  overflow-y: auto;
}

.ct_login_inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.ct_login_inputs input {
  width: 56px;
  height: 56px;
}

/* Login page css E */



/* Dashboard css S */
.ct_admin_logo img {
  width: 100%;
}

.ct_side_bar {
  position: fixed;
  height: 100vh;
  background-color: #F9F9F9;
  max-width: 250px;
  width: 100%;
  padding: 15px 0px;
  transition: 0.4s ease all;
  box-shadow: 1.67px 0px 11.67px 0px #0000000F;

  z-index: 9;
}

.ct_side_bar ul {
  margin-top: 30px;
  height: calc(100% - 100px);
  overflow-y: auto;
  padding-left: 30px;
}

.ct_side_bar ul li a {
  padding: 13px 16px;
  border-radius: 0px;
  transition: 0.4s ease all;
  width: 100%;
  display: flex;
  font-weight: 500;
  align-items: center;
  gap: 15px;
  color: #282828;
  position: relative;
  font-family: Matter-Medium;
  border-right: 2px solid transparent;
}

.ct_side_bar ul li+li {
  margin-top: 13px;
}

.ct_side_bar ul li a:hover,
.ct_side_bar ul li a.active {
  background-color: #F1F2FF;
  color: var(--purple);
  border-color: var(--purple);
}

.ct_side_bar ul li a.active svg path,
.ct_side_bar ul li a:hover svg path {
  fill: var(--purple);
}

.ct_right_panel {
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: 0.4s ease all;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 0px;
  background-color: #F9F9F9;
  padding-inline: 30px;
  box-shadow: 1.67px 0px 11.67px 0px #0000000F;

}

.ct_menu_bar,
.ct_close_sidebar {
  display: none;
}

.ct_admin_logo {
  padding-bottom: 15px;
}

.ct_admin_logo img {
  width: 124px;
  margin-inline: auto;
  display: block;
}

.ct_right_dropdown.dropdown ul {
  padding: 0px;
  border: 0px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}

.ct_right_dropdown.dropdown a.dropdown-item {
  padding-block: 8px;
  padding-inline: 22px;
}

.ct_right_dropdown.dropdown .dropdown-item:hover {
  background-color: var(--purple);
  color: #fff;
}

.ct_right_dropdown button {
  border: 0px;
  padding: 11px 16px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 6px;
}

.ct_img_30 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100px;
}

.ct_px_30 {
  padding-inline: 30px;
}

.ct_purple_btn {
  padding: 13px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--purple);
  background-color: var(--purple);
  position: relative;
  z-index: 1;
  white-space: nowrap;
  transition: 0.4s ease all;
  color: #fff;
  overflow: hidden;
}

.ct_purple_btn:before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  transform: scale(0);
  transition: 0.4s ease all;
  background-color: #fff;
  z-index: -1;
}

.ct_purple_btn:hover:before {
  transform: scale(1);
}

.ct_purple_btn:hover {
  color: #282828;
}

.ct_purple_btn:hover svg path {
  stroke: #282828;
}

.ct_purple_btn:hover img {
  filter: invert(1);
}

.ct_light_red_btn {
  padding: 13px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 10px;
  outline: none;
  border: 1px solid #FFF0F0;
  background-color: #FFF0F0;
  position: relative;
  z-index: 1;
  transition: 0.4s ease all;
  color: #B80020;
  overflow: hidden;
}

.ct_light_red_btn:before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: scale(0);
  transition: 0.4s ease all;
  background-color: #B80020;
  z-index: -1;
}

.ct_light_red_btn:hover:before {
  transform: scale(1);
}

.ct_light_red_btn:hover {
  color: #fff;
}

.ct_outline_btn {
  padding: 13px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 10px;
  outline: none;
  border: 1px solid #E5E5E5;
  background-color: transparent;
  position: relative;
  z-index: 1;
  transition: 0.4s ease all;
  color: #667085;
  overflow: hidden;
}

.ct_outline_btn:before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: scale(0);
  transition: 0.4s ease all;
  background-color: var(--purple);
  z-index: -1;
}

.ct_outline_btn:hover:before {
  transform: scale(1);
}

.ct_outline_btn:hover {
  color: #fff;
}

button.btn-close.ct_close {
  background-image: unset;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--purple);
  opacity: 1;

  color: #fff;
}

html,
body {
  min-height: 100vh;
}

.ct_dash_body_bg {
  background-color: #F6F8FB;
  overflow-y: auto;
}

.ct_img_50 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}

.ct_dash_card {
  background: #F9F9F9;
  padding: 25px 30px;
  box-shadow: 0px 0px 6px 0px #00000014;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.ct_dash_icon img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


.ct_white_bg {
  background-color: #F9F9F9;
  box-shadow: 0px 0px 6px 0px #00000014;
  padding: 40px 36px;
  border-radius: 10px;
  height: 100%;

}

a.ct_notification_icon {
  position: relative;
}

.ct_notification_icon span {
  width: auto;
  height: 18px;
  font-size: 10px;
  background-color: #FF2C20;
  border-radius: 100px;
  position: absolute;
  top: -9px;
  color: #fff;
  padding: 6.925px;
  right: -9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ct_notification_dropdown {
  max-width: 452px;
  width: 452px;
  padding: 30px 27px;
  border: 0px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.09);
}

.ct_dot_8 {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  background-color: var(--purple);
}

.ct_dot_10 {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: var(--purple);
}

/* Dashboard css E */


/* Edit Profile Css S */
.ct_profile_img {
  width: 87px;
  height: 87px;
  border-radius: 100px;
  position: relative;
}

.ct_profile_img>img {
  object-fit: cover;
  width: 87px;
  border-radius: 100px;
  height: 87px;
}

.ct_upload_icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}

/* Edit Profile Css E */

.ct_grey_select {
  background-color: #F4F4F4;
}

.ct_search_box_bg {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 15px 16px;
  border-radius: 10px;
}

/* Team page css S */
.ct_team_header_bg {
  background-color: var(--purple);
  padding: 23px 20px;
}

.ct_team_card {
  box-shadow: 0px 0px 5.48px 0px #00000014;
  background-color: #f9f9f9;
  height: 100%;
}

.ct_team_card .ct_team_card_body {
  padding: 35px 30px;
}

.ct_progress_bar {
  height: 10px;
}

.ct_progress_bar .progress-bar {
  background-color: var(--green);
}

.ct_custom_badge {
  padding: 4px 30px;
  border-radius: 5px;
  display: inline-block;
}

.ct_img_42 {
  width: 42px;
  height: 42px;
  border-radius: 100px;
  object-fit: cover;
}

.ct_img_40 {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}

.ct_purple_link {
  color: var(--purple);
  transition: 0.4s ease all;
}

.ct_purple_link:hover {
  color: #000;
}

.ct_team_card {
  box-shadow: 0px 0px 5.48px 0px #00000014;
  background-color: #f9f9f9;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.ct_close_modal {
  width: 30px;
  height: 30px;
  background-image: unset;
  background-color: #F6F8FD;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease all;

}

.ct_close_modal:hover {
  background-color: var(--purple);
  color: #fff;
}

.ct_custom_modal .modal-content {
  padding: 40px 20px;
  border-radius: 20px;
  border: 0px;
}

.ct_add_member_border {
  border: 1px dashed #E3E5E5;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.ct_light_grey_bg {
  background-color: #F8FAFC;
  padding: 18px;
  border-radius: 10px;
}

.ct_back_icon {
  font-size: 26px;
  color: #000;
  transition: 0.4s ease all;
}

.ct_back_icon:hover {
  color: var(--purple);
}

.ct_recent_activity_list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.ct_recent_activity_list li+li {
  margin-top: 23px;
}


.ct_custom_table thead th {
  background-color: #fff;
  padding: 16px 35px;
  border: 0px;
  background: #F0E9FF;
  color: #000 !important;
  font-weight: 500;
  white-space: nowrap;
}

.ct_custom_table thead th:first-child,
.ct_custom_table tbody td:first-child {
  border-radius: 6px 0px 0px 15px;
}

.ct_custom_table thead th:last-child,
.ct_custom_table tbody td:last-child {
  border-radius: 0px 6px 6px 0px;
}

.ct_custom_table tbody tr td {
  padding: 14px 35px;
  border-bottom: 1px solid transparent;
  background-color: #7F4EEC0A;
  color: #000;
  white-space: nowrap;
}


.ct_custom_table tbody tr td,
.ct_custom_table thead tr th {

  white-space: nowrap;
  /* text-align: center; */
  vertical-align: middle;
}

.ct_custom_table {
  border-spacing: 0 23px;
  border-collapse: separate;
}

.ct_custom_tabs_2 {
  background-color: transparent !important;
  border: 0px !important;
  padding: 0px !important;
}

.ct_custom_tabs_2.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  border-radius: 0px;
  background-color: transparent !important;
  box-shadow: unset !important;
  padding-block: 9px !important;
  color: var(--purple) !important;
}

.ct_team_detail_white ul {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  flex-wrap: wrap;

}

.ct_team_detail_white ul li {
  line-height: 14px;
  color: #666666;
}

.ct_team_detail_white ul li+li {
  border-left: 1px solid #4444448C;
  padding-left: 15px;
}

.ct_team_detail_white {
  background-color: #fff;
  padding: 35px 30px;
  border-radius: 22px;
}

.ct_custom_table_2 th {
  font-family: Matter-Medium;
  font-weight: 500;
}

.ct_custom_table_2 th,
.ct_custom_table_2 td {
  padding: 14px 10px;
  white-space: nowrap;
}

/* Team page css E */

.ct_task_design_header {
  padding: 20px;
  border-top-left-radius: 16px;
  border-top-right-radius: 20px;
  border-top: 4px solid;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  background-color: #F9F9F9;
  margin-bottom: 10px;
}

.ct_icon_32_grey {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #1313131A;
}

.ct_task_design_inner_card {
  background-color: #fff;
  padding: 32px 12px;
  border: 1px solid #E0E0E0;
  border-radius: 16px;
  display: block;
  color: #000;
}

.ct_task_design_body {
  padding: 29px 18px;
  border: 1px dashed #9CA3AF;
  background-color: #D1F2FF24;
  border-radius: 16px;
  height: 100vh;
  max-height: 500px;
  overflow-y: auto;
}

.ct_task_design_body .ct_task_design_inner_card+.ct_task_design_inner_card {
  margin-top: 16px;
}


.ct_white_bg_2 {
  background-color: #fff;
  padding: 43px 37px;
  border-radius: 22px;
}

.ct_outline_bg {
  border: 1px solid #4B55631C;
  padding: 20px 13px;
  border-radius: 10px;
}

.ct_outline_btn_purple {
  border-color: var(--purple);
  color: var(--purple);
  border-radius: 8px;
}

.ct_outline_btn_purple:before {
  border-radius: 8px;
}

.ct_light_blue_bg {
  background-color: #7F4EEC0A;
  padding: 50px 35px;
  border-radius: 10px;
}

.ct_light_blue_bg_2 {
  background: linear-gradient(90deg, #EFF6FF 0%, #EEF2FF 100%);
  padding: 33px;
  border-radius: 16px;
  height: 100%;
}

.ct_border_light_blue {
  border: 1px solid #DBEAFE;
}

.ct_outline_badge {
  padding: 5px 8px;
  display: inline-block;
  border: 1px solid;
  border-radius: 5px;
  font-size: 12px;
}

.ct_compass_white_card {
  background-color: #fff;
  border: 1px solid;
  border-radius: 6px;
  padding: 14px;
}


.ct_compase_card {
  padding: 42px 22px;
  border-radius: 10px;
  border-top: 4px solid;
  height: 100%;
}