.ct_pricing_header{
    padding: 20px 0px;
    border-bottom: 1px solid #fff;
}

.ct_pricing_main_bg{
    background-image: url(../../../../../public/img/pricing_bg_banner.png);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.ct_feature_white_shape2 {
    background-color: #fff;
    width: fit-content;
    border-radius: 10px;
       border: 1px solid #888D9733;
    box-shadow: 0px 0px 12px 0px #00000017;
        padding: 8px 16px;
}
.ct_feature_white_shape2 p{
        display: flex;
    align-items: center;
    gap: 4px;
 
    background: linear-gradient(90deg, #7F4EEC 0%, #FF29C2 100%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 16px;
}



.pricing-card {
  background: #ffffff;
  width: 100%;
  padding: 28px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0px 0px 34px 0px #7F4EEC33;
border: 1px solid #EBE2FF
}

.pricing-badge {
  display: inline-block;
  background: #7F4EEC;
  color: #fff;
  padding: 6px 14px;
  border-radius: 50px;
  font-size: 13px;
  font-weight: 500;
}



.price {
  margin-top: 30px;
  font-size: 25px;

}

.price span {
  font-size: 16px;
  font-weight: 500;
  color: #6c757d;
}

.pricing-desc {
  color: #00000099;
  margin: 10px 0 22px;
  font-size: 14px;
}

.pricing-btn {
  width: 100%;
  border-radius: 50px;
  padding: 12px;
  font-weight: 600;
  background: #7F4EEC;
  border: none;
}

.pricing-btn:hover {
  background: #6847f5;
}

.pricing-list {
  list-style: disc;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 0px;
  padding-left: 20px;
}

.pricing-list li {
 
  font-size: 14px;
  color: #6B7280;
}
.pricing-list li + li {
 margin-top: 6px;
}