.ct_status_accepted {
  background-color: #d4edda;
  color: #155724;
  padding: 10px 15px;
  border-radius: 5px;
}

.ct_status_rejected {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 15px;
  border-radius: 5px;
}