/* You can add global styles to this file, and also import other style files */
.ct_text_red {
      color: rgb(180, 0, 0);
}

.ant-select-selection-search-input {
      height: 52px !important;
      border: none !important;
      background: transparent !important;
}

.ant-select-selector {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important;
}

.ant-select-selection-placeholder {
      font-size: 16px !important;
      color: #666 !important;
      margin-top: 12px !important;
}

.ant-select-selection-item {
      margin-top: 12px !important;
      font-size: 16px !important;
}

.multi_select .ant-select-selection-item,
.multi_select .ant-select-selection-placeholder {
      font-size: 16px !important;
      margin-top: 0 !important;
}

.ant-select-selector {
      height: 100% !important;
}


.ct_login_scroll {
      height: auto;
      max-height: calc(100vh - 305px);
      overflow-y: auto;
}

.ct_icon_53 img {
      width: 24px;
}

.ct_fs_35 {
      font-size: 28px;
}

.ct_back_icon {
      font-size: 20px;
}

.err_msg {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 5px;
      /* flex-direction: row-reverse; */
      color: red;
}

/* Loader Start */
.ct_loader_main {
      position: fixed;
      background: #f0e3e5;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      display: flex;
      align-items: center;
      justify-content: center;
}

.loader-con {
      position: relative;
      width: 50%;
      height: 100px;
      overflow: hidden;
}

.pfile {
      position: absolute;
      bottom: 25px;
      width: 40px;
      height: 50px;
      background: #8451ED;
      border-radius: 4px;
      transform-origin: center;
      animation: flyRight 3s ease-in-out infinite;
      opacity: 0;
}

.pfile::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      width: 28px;
      height: 4px;
      background-color: #ffffff;
      border-radius: 2px;
}

.pfile::after {
      content: "";
      position: absolute;
      top: 13px;
      left: 6px;
      width: 18px;
      height: 4px;
      background-color: #ffffff;
      border-radius: 2px;
}

@keyframes flyRight {
      0% {
            left: -10%;
            transform: scale(0);
            opacity: 0;
      }

      50% {
            left: 45%;
            transform: scale(1.2);
            opacity: 1;
      }

      100% {
            left: 100%;
            transform: scale(0);
            opacity: 0;
      }
}

.pfile {
      animation-delay: calc(var(--i) * 0.6s);
}

/* Loader End */

pagination-controls.ct_pagination_div {
      text-align: end;
}

.ct_pagination_div ul.ngx-pagination {
      margin-top: 10px;
}

.ct_pagination_div .ngx-pagination .current {
      background-color: var(--bringle);
}

.cdk-overlay-container {
      z-index: 9999999999999 !important;
}

.ant-otp-input {
      width: 50px !important;
      height: 50px;
      border-radius: 5px !important;
}

.ant-otp {
      justify-content: center;
}

.ct_cursor_pointer {
      cursor: pointer;
}