.ct_select_badge {
  background-color: #f5f5f599;
  border: 1px solid #f5f5f599;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: left;
  transition: 0.4s ease all;
}

.ct_select_badge:hover {
  background-color: var(--black);
  color: #8050e9;
  border-color: var(--black);
}